
<section id="about" class="section ">
    <div class="container  mx-auto">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">About me</h1>
      <div class="flex flex-wrap ">
        <div class=" md:w-1/2 w-full">
          <div class="flex flex-col items-center">
  
            <span class="flex-grow flex flex-col mt-15 mb-10">
              <span class="title-font font-medium text-gray-900 mt-4" >YONELA KULATI</span>
              <span class="text-gray-500 text-sm">FULL-STACK DEVELOPER</span>
            </span>
            
            <img 
              class="about  object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" 
              src="photo.jpg">
            <p class="leading-relaxed text-center">I specialize in developing full-stack applications using modern frameworks <br> such as Angular, Node.js, and MySQL. Passionate about clean code,<br> and user experience.</p>
  
            <a href="CV_Yonela.pdf" target="_blank" class=" btn inline-flex items-center mt-4 text-[#ff9800] bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
             Download my Resume
              </a>
          </div>
        </div>
  
  
        <div class="md:w-1/2 w-full">
    <div class="h-full p-8 rounded">
      <section id="skills">
        <h2>Skills</h2><br>
        <div class="skills-grid">
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=20909&format=png" alt="HTML" class="skill-icon" />
            <p>HTML</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=21278&format=png" alt="CSS" class="skill-icon" />
            <p>CSS</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=71257&format=png" alt="Angular" class="skill-icon" />
            <p>Angular</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=100&id=106036&format=png&color=D7A200" alt="JavaScript" class="skill-icon" />
            <p>JavaScript</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=hsPbhkOH4FMe&format=png" alt="Node.js" class="skill-icon" />
            <p>Node.js</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=UFXRpPFebwa2&format=png" alt="MySQL" class="skill-icon" />
            <p>MySQL</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=20906&format=png" alt="Git" class="skill-icon" />
            <p>Git</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=128&id=3tC9EQumUAuq&format=png" alt="GitHub" class="skill-icon" />
            <p>GitHub</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=160&id=JWk3TOqN9Bck&format=png" alt="REST APIs" class="skill-icon" />
            <p>REST APIs</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=96&id=CIAZz2CYc6Kc&format=png" alt="Tailwinds" class="skill-icon" />
            <p>Tailwinds</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=160&id=JRnxU7ZWP4mi&format=png" alt="PostgreSQL" class="skill-icon" />
            <p>PostgreSQL</p>
          </div>
          <div class="skill-card">
            <img src="https://img.icons8.com/?size=160&id=Xf1sHBmY73hA&format=png" alt="TypeScript" class="skill-icon" />
            <p>TypeScript</p>
          </div>
        </div>
  
  
  
            </section>
  
         
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
