<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  

  <footer id="contact" class="bg-gray-800 text-white py-8 px-4 mt-12">
    <h2 class="text-3xl font-extrabold text-center mb-6">Contact Me</h2>
    <p class="text-center mb-4">
      <span class="mr-2"><i class="fas fa-envelope text-black"></i></span>
      <a href="mailto:nelakulati@gmail.com" class="text-black">nelakulati&#64;gmail.com</a>
    </p>
    <p class="text-center mb-4">
      <span class="mr-2"><i class="fab fa-linkedin text-black"></i></span>
      <a href="https://www.linkedin.com/in/yonela-kulati-665717133/" target="_blank" class="text-black">linkedin.com/in/Yonela</a>
    </p>
    <p class="text-center">
      <span class="mr-2"><i class="fab fa-github text-black"></i></span>
      <a href="https://github.com/Nellark" target="_blank" class="text-black">github.com/Nellark</a>
    </p>
  </footer>
