/* Navbar styles */
.navbar {
  background-color: #e3dfdf;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bottom shadow */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #494848;
}
li{
font-weight: bold;
}


.nav-link {
  display: block;
  padding: 10px 15px;
  cursor: pointer; 
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #090909;
}

/* Hamburger Menu Button */
button {
  cursor: pointer;
}


@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    text-align: center;
  }

  .w-full {
    display: none;
  }

  .w-full.hidden {
    display: block;
  }
}


