/* Navbar styles */
.navbar {
    background-color: #e3dfdf;
    padding: 15px;
    font-family: Arial, sans-serif;
    
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #504f4f;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: #494848;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #090909;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-links {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  }
  